body {
  background: #cff4cb;
}
h1 {
  text-align: center;
}
.links {
  display: flex;
  justify-content: space-evenly;
}
#link {
  border: 2px solid;
  text-decoration: none;
  padding: 10px;
  text-align: center;
  flex: 1;
  background: yellow;
  color: blue;
  font-weight: bold;
}
#link:hover {
  background: blue;
  color: yellow;
}
#position {
  text-align: center;
}
a {
  padding: 20px;
}
a:hover {
  color: green;
}
