body {
  text-align: center;
  background: lightcyan;
}
.links {
  display: flex;
  justify-content: space-evenly;
}
#link {
  border: 2px solid;
  text-decoration: none;
  padding: 18px;
  text-align: center;
  flex: 1;
  background: yellow;
  color: blue;
  font-weight: bold;
}
#link:hover {
  background: blue;
  color: yellow;
}
